@import '_reset.scss';
@import '_icon.scss';
@import '_color.scss';
@import '_animate.scss';
@import '_element.scss';
@import '_layout.scss';
/**

	v-center  垂直居中, 需要设定容器的position
	h-center  水平居中, 需要设定容器的position
	c-center  全部居中, 需要设定容器的position
	w5~w100   百分比样式
	can-not-select 文本不能选中样式
	mg  外边框单样式
	pd  内边框单样式
	bd  边框样式
	ft  字体大小单样式
	ta  文本对齐单样式
	fr/fl 浮动样式
	pa  layout样式
	dl  行内元素基样式
	clearfix 清除浮动样式
	text-ellipsis 文本省略号
	box-shadow-none 去除阴影样式
*/
html,
body {
  width: 100%;
  height: 100%;
}

//去除登录页面在chrome下的用户名密码自动填充样式
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition-delay: 9999999999999s;
  transition: color 9999999999999s ease-out, background-color 9999999999999s ease-out;
}

@mixin v-center {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

@mixin h-center {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

@mixin c-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@mixin can-not-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*边框样式*/
@mixin no-bdr {
  border: 0 !important;
}

@mixin bdr {
  border: 1px solid;
}

@mixin bdrt {
  border-top: 1px solid;
}

@mixin bdrr {
  border-right: 1px solid;
}

@mixin bdrb {
  border-bottom: 1px solid;
}

@mixin bdrl {
  border-left: 1px solid;
}

@mixin bdr-r3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

@mixin bdr-r5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@mixin bdr-r10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

@mixin bdr-ra {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

/*字体样式*/
@mixin fb {
  font-weight: bold;
}

@mixin fn {
  font-weight: normal;
}

/*文本对齐*/
@mixin ta-c {
  text-align: center !important;
}

@mixin ta-l {
  text-align: left;
}

@mixin ta-r {
  text-align: right;
}

/*浮动*/
@mixin fl {
  float: left;
}

@mixin fr {
  float: right;
}

/*位置*/
@mixin pr {
  position: relative;
}

@mixin pa {
  position: absolute;
}

@mixin ps {
  position: static;
}

@mixin pf {
  position: fixed;
}

/*行内元素*/
@mixin d-inline-block {
  display: inline-block;
}

@mixin v-m {
  vertical-align: middle;
}

@mixin v-t {
  vertical-align: top;
}

/*鼠标手势*/
@mixin cursor-pointer {
  cursor: pointer;
}

@mixin cursor-move {
  cursor: move;
}

/*去除阴影*/
@mixin box-shadow-none {
  box-shadow: none;
  -webkit-box-shadow: none;
}

/*初始化overflow*/
@mixin overflow-normal {
  overflow: visible;
}

@mixin resize-none {
  resize: none;
}

@mixin hide {
  display: none;
}

@mixin show {
  display: block;
}

/** 经典清除浮动**/
@mixin clearfix() {

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin clearfix {
  @include clearfix;
}

/** 文本省略号 **/
@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin multiple-text-ellipsis($line) {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow : hidden;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
}

/*滚动条*/
::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(150, 150, 150, .3);
}

//li 显示*行 其他省略号
@mixin elliosis_line($line) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


html {
  height: 100%;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
}

* {
  box-sizing: border-box;
}

.body-root {
  height: 100%;
  overflow: auto;
  font-family: "PingFang SC", "Hiragino Sans GB", "微软雅黑", Arial, sans-serif;
}

.page-body {
  padding: 0px 20px;
  overflow: auto;

  .page-body-content {
    width: 1200px;
    margin: 0px auto;
  }
}

.pointer {
  cursor: pointer;
}

.border-radius-2 {
  border-radius: 2px;
}

.border-radius-4 {
  border-radius: 4px;
}

// Usage as a mixin
.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.text-wrap {
  word-wrap: break-word;
  word-break: break-all;
}

.flex-no-shrink {
  flex: 0 0 auto;
}

.flex-grow {
  flex: 1 1 auto;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.border-b-1-grey {
  border-bottom: 0px solid rgba(5, 16, 33, 0.1);
}

.color-white {
  color: white;
}

.color-C5E9FF {
  color: #C5E9FF;
}

.color-2979FF {
  color: #2979FF;
}

.color-051021 {
  color: #051021;
}

.color-0A1221 {
  color: #0A1221;
}

.color-0A1220 {
  color: #0A1220;
}

.bg-color-white {
  background-color: white;
}

.bg-color-2979FF {
  background-color: #2979FF;
}

.bg-color-2979FF-op {
  background-color: rgba(41, 121, 255, 0.08);
}

.bg-color-0A1321 {
  background-color: #0A1321;
}

.bg-color-182B4D {
  background-color: rgba(24, 43, 77, 0.05)
}

.bg-color-F4F6F9 {
  background-color: #F4F6F9;
}

.op-20 {
  opacity: 0.20;
}

.op-34 {
  opacity: 0.34;
}

.op-40 {
  opacity: 0.40;
}

.op-42 {
  opacity: 0.42;
}

.op-64 {
  opacity: 0.64;
}

.op-72 {
  opacity: 0.72;
}

.box-shadow-box {
  box-shadow: 0 0 8px 4px rgba(16, 48, 102, 0.12);

  &:hover {
    box-shadow: 0 0 12px 6px rgba(16, 48, 102, 0.12);
  }
}

.box-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fw {
  font-weight: bold;
}

.t-dec {
  text-decoration: underline
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mult-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.gl-text {
  color: rgba(10, 18, 33, 0.64);
}

.gl-text:hover {
  color: rgba(10, 18, 33, 0.87);
}

.hide-op {
  opacity: 0;
}

// 登录页密码输入框样式
.input-password {
  -webkit-text-security: disc;
  -mox-text-security: disc;
}

.input-reset {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(41, 121, 255, 0.5);
  font-size: 12px;
}
// 表格
.el-table {
  font-size: 12px;
  .cell {
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.el-table td,
.el-table th {
  padding: 18px 0;
}
.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: rgba($table-tr-color, 0.04)
}
.el-table__body tr.hover-row>td {
  background: rgba($table-tr-color, 0.04)
}

// 分页
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: rgba($pagination-bg-color, 0.05);
  color: rgba($label-title-color, 0.87);
}
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  margin: 0 2px;
  background-color: #fff;
  color: rgba($label-title-color, 0.42);
}

// 导航
.ivu-menu-primary.ivu-menu-horizontal .ivu-menu-item.ivu-menu-item-active,
.ivu-menu-primary.ivu-menu-horizontal .ivu-menu-item.ivu-menu-item:hover,
.ivu-menu-primary.ivu-menu-horizontal .ivu-menu-item.ivu-menu-submenu-active,
.ivu-menu-primary.ivu-menu-horizontal .ivu-menu-item.ivu-menu-submenu:hover {
  background-color: rgba(#fff, 0.1);
  color: #fff;
  box-shadow: inset 0 -2px 0 0 #FFFFFF;
}
.ivu-menu-primary.ivu-menu-horizontal .ivu-menu-item,
.ivu-menu-primary.ivu-menu-horizontal .ivu-menu-submenu {
  color: rgba(#fff, 0.7);
}
