$text-color: #fff;

$home_border_color: rgba(255, 255, 255, .2);
$header-lg-bg-l: #0065FF;
$header-lg-bg-r: #009DFE;
$header-left-bo: rgba(255, 255, 255, 0.16);
$header-item-bo: #fff;
$header-item-sh: rgba(16, 48, 102, 0.03);
$header-item-h-sh: rgba(16, 48, 102, 0.08);
$header-item-s-bg: #fff;
$header-item-s-text: rgba(5, 16, 33, 0.72);
$header-count-bg: #ff0000;
$header-count-c: #fff;
$header-right-button-bg: #009dfe;
$header-button-bg: rgba(255, 255, 255, .24);

$login-header-c: #1e90ff;
$login-header-bo: rgba(255, 255, 255, 0.2);
$login-header-logo-t: #C5E9FF;
$login-body-color: #fff;