@mixin tag($bgcolor, $color, $padding, $radius) {
    background-color: $bgcolor;
    color: $color;
    padding: $padding;
    border-radius: $radius;
}

.btn {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
