@for $i from 6 through 20 {
  .fs#{$i * 2} {
    font-size: ($i * 2px);
  }
}

@for $i from 0 through 99 {
  .lh#{$i} {
    line-height: $i * 1px;
  }
}

@for $i from 0 through 600 {
  .w#{$i} {
    width: 1px * $i;
  }

  .h#{$i} {
    height: 1px * $i;
  }
}

@for $i from 0 through 299 {
  .mg#{$i} {
    margin: 1px * $i;
  }

  .mgt#{$i} {
    margin-top: 1px * $i;
  }

  .mgb#{$i} {
    margin-bottom: 1px * $i;
  }

  .mgl#{$i} {
    margin-left: 1px * $i;
  }

  .mgr#{$i} {
    margin-right: 1px * $i;
  }

  .pd#{$i} {
    padding: 1px * $i;
  }

  .pdt#{$i} {
    padding-top: 1px * $i;
  }

  .pdb#{$i} {
    padding-bottom: 1px * $i;
  }

  .pdl#{$i} {
    padding-left: 1px * $i;
  }

  .pdr#{$i} {
    padding-right: 1px * $i;
  }

  .ti#{$i} {
    text-indent: 1px * $i;
  }
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.va-middle {
  vertical-align: middle;
}

.va-text-top {
  vertical-align: text-top;
}

.va-text-bottom {
  vertical-align: text-bottom;
}

.display-ib {
  display: inline-block;
}
