
.msg-detail-model {
    width: 400px;

    .ivu-modal-content {
      background-color: #F0F2F3;
    }

    .ivu-modal-header {
      padding: 14px 24px;
    }
    .detail-content {
      ul {
        li {
          overflow: hidden;
          line-height: 20px;
          margin-bottom: 14px;
          label {
            width: 60px;
            color: rgba($label-title-color, 0.34);
            float: left;
            @include text-ellipsis;
          }
          span {
            width: calc(100% - 70px);
            float: right;
          }
        }
      }
      .seq {
        width: 100%;
        height: 1px;
        background-color: #d7d7d7;
      }
      .filter-type-con {
        padding: 10px;

        & > span {
          line-height: 30px;
          margin-bottom: 5px;
        }

        .filter-ul {
          width: 100%;
          max-height: 320px;
          background-color: #fff;
          overflow: auto;

          .filter-item {
            width: 100%;
            height: 80px;
            border-bottom: 1px dotted #d7d7d7;
            padding: 16px;

            .item-box {
              width: 100%;
              height: 24px;
              display: flex;
              justify-content: space-around;
              align-items: center;

              .first-item {
                width: 100px;
              }

              & > span {
                & > span {
                  &:first-child {
                    margin-right: 5px;
                  }
                }
              }

              &.item-box1 {
                & > span {
                  text-indent: 14px;
                }
                justify-content: flex-start;
              }
            }
          }
        }
      }
    }
    .ivu-modal-body {
      padding: 16px 32px 0;
    }
    .ivu-modal-footer {
      padding-top: 2px;

      .btn-right {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }

      .btn {
        &.no-bg {
            background-color: unset;
            color: $btn-main-color;
        }
      }
    }
}
