
.msg-detail-model {
    width: 400px;

    .ivu-modal {
      top: 30px;
    }

    .ivu-modal-content {
      background-color: #F0F2F3;
    }

    .ivu-modal-header {
      padding: 14px 24px;
    }
    .ivu-modal-body {
      max-height: 700px;
      overflow: auto;
    }
    .detail-content {
      ul {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        li {
          width: 100%;
          overflow: hidden;
          line-height: 20px;
          margin-bottom: 14px;
          display: flex;

          &.li-item {
            width: 50%;

            .item-box {
              width: 100%;
            }
          }
          .item-box {
            width: 50%;
            display: flex;
          }
          label {
            width: 60px;
            color: rgba($label-title-color, 0.34);
            display: inline-block;
            @include text-ellipsis;
          }
          span {
            width: calc(100% - 70px);
          }
        }
      }
      .seq {
        width: 100%;
        height: 1px;
        background-color: #d7d7d7;
      }
      .filter-type-con {
        padding: 10px;

        .filter-font {
          color: #1399dc;
        }

        & > span {
          line-height: 30px;
          margin-bottom: 5px;
        }

        .filter-ul {
          width: 100%;
          max-height: 260px;
          background-color: #fff;
          overflow: auto;

          .filter-item {
            width: 100%;
            border-bottom: 1px dotted #d7d7d7;
            padding: 16px;

            .item-box {
              width: 100%;
              line-height: 24px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .first-item {
                width: 50%;
                text-indent: 14px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }

              & > span {
                & > span {
                  &:first-child {
                    margin-right: 5px;
                  }
                }
              }

              &.item-box1 {

                .span-con {
                  width: 100%;
                }
                & > span {
                  text-indent: 14px;
                }
                justify-content: flex-start;
              }
            }
          }
        }
      }
    }
    .ivu-modal-body {
      padding: 16px 32px 0;
    }
    .ivu-modal-footer {
      padding-top: 2px;

      .btn-right {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }

      .btn {
        &.no-bg {
            background-color: unset;
            color: $btn-main-color;
        }
      }
    }
}
