@import "_color.scss";
@import "_element.scss";
.msg-detail-model {
    width: 400px;
    .ivu-modal-header {
      padding: 14px 24px;
    }
    .detail-content {
      ul {
        li {
          overflow: hidden;
          line-height: 20px;
          margin-bottom: 14px;
          label {
            width: 48px;
            color: rgba($label-title-color, 0.34);
          }
          span {
            width: calc(100% - 56px);
            float: right;
          }
        }
      }
    }
    .ivu-modal-body {
      padding: 16px 32px 0;
    }
    .ivu-modal-footer {
      padding-top: 2px;
      .btn {
        @include btn;
        &.no-bg {
            background-color: unset;
            color: $btn-main-color;
        }
      }
    }
}