.ivu-modal-content {
  border-radius: 4px;
  padding: 0px;
}

.ivu-modal-close {
  right: 12px;
  top: 12px;
}

.ivu-modal-header {
  border-bottom: none;
}

.ivu-modal-confirm {
  padding: 16px 20px;
}

.ivu-modal-footer {
  border-top: none;
}

.ivu-input-large {
  font-size: 12px;
}

textarea.ivu-input {
  resize: none;
  font-size: 12px !important;
}

.ivu-checkbox-inner {
  border-radius: 0px;
  margin-right: 5px;
}

.ivu-select-large.ivu-select-single .ivu-select-selection .ivu-select-placeholder,
.ivu-select-large.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
  font-size: 12px;
}

.ivu-select-large .ivu-select-item {
  font-size: 12px !important;
}

.ivu-select-arrow:before {
  content: '\F123';
  font-size: 12px;
  color: #A3ABB0;
}

.ivu-cascader-arrow:before {
  content: '\F123';
  font-size: 12px;
  color: #A3ABB0;
}

.ivu-cascader-menu {
  overflow-x: hidden;
}

.ivu-cascader .ivu-cascader-menu-item {
  max-width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ivu-table-small td {
  height: 32px;
}

// 新增任务
.task-pop .ivu-select-single .ivu-select-selection {
  height: 20px !important;
}

// 新增任务
.task-pop .ivu-select-single .ivu-select-selection .ivu-select-placeholder {
  height: 20px !important;
  line-height: 20px !important;
}

// 新增任务
.task-pop .ivu-select-single .ivu-select-selection .ivu-select-selected-value {
  height: 20px !important;
  line-height: 20px !important;
}

// 分页样式
.ivu-page-item {
  border: 0px solid #dddee1 !important;
  color: rgba(5, 16, 33, 0.42);
  box-shadow: 0px 0px 8px rgba(16, 48, 102, 0.03);
}

.ivu-page-item a {
  color: rgba(5, 16, 33, 0.42) !important;
}

.ivu-page-item-active {
  background-color: rgba(24, 43, 77, 0.05) !important;
  color: rgba(5, 16, 33, 0.87)
}

.ivu-page-item:hover {
  background-color: rgba(24, 43, 77, 0.05) !important;
  color: rgba(5, 16, 33, 0.87)
}

.ivu-page-prev,
.ivu-page-next {
  border: 0px solid #dddee1 !important;
  color: rgba(5, 16, 33, 0.42);
  box-shadow: 0px 0px 8px rgba(16, 48, 102, 0.03);
}

.ivu-page-next:hover,
.ivu-page-prev:hover {
  background-color: rgba(24, 43, 77, 0.05) !important;
  color: rgba(5, 16, 33, 0.87) !important;
}

.ivu-page-next:hover a,
.ivu-page-prev:hover a {
  color: rgba(5, 16, 33, 0.87) !important;
}

.prev-first {
  margin-left: 12px;
  width: 57px !important;
}

.next-last {
  margin-right: 12px;
  width: 57px !important;
}

.ivu-page-item-jump-prev {
  border: 0px solid #dddee1 !important;
}

.ivu-page-item-jump-next {
  border: 0px solid #dddee1 !important;
}

.ivu-page-item-jump-prev a,
.ivu-page-item-jump-next a {
  color: rgba(5, 16, 33, 0.87) !important;
}


// 表格样式
.test table {
  width: auto !important;
}

.ivu-table-cell {
  white-space: nowrap !important;
  word-break: keep-all !important;
}

.ivu-table th {
  background: #FFFFFF !important;
}

th .ivu-table-cell {
  color: #051021;
  opacity: 0.34;
}

.ivu-table-border td,
.ivu-table-border th {
  border-right: 0px solid #e9eaec !important;
}

.ivu-table-stripe .ivu-table-body tr:nth-child(2n) td,
.ivu-table-stripe .ivu-table-fixed-body tr:nth-child(2n) td {
  background-color: rgba(74, 82, 94, 0.04) !important;
}

.ivu-table-fixed-body .ivu-table-stripe .ivu-table-body tr:nth-child(2n) td,
.ivu-table-stripe .ivu-table-fixed-body tr:nth-child(2n) td {
  background-color: rgb(255, 255, 255) !important;
}

.ivu-table-fixed-right {
  box-shadow: -48px 0 48px -2px rgba(0, 0, 0, 0.03) !important;
  //background: linear-gradient(270deg, rgba(65, 65, 66, 0.18) -10.42%, rgba(65, 65, 66, 0) 50%);
}

.ivu-table-hidden {
  visibility: visible !important;
}


// 新增任务-设置字段弹窗
.task-pop .el-radio__input.is-checked+.el-radio__label {
  color: #606266;
}

.page-task-list .ivu-btn-text:focus {
  box-shadow: 0 0 0 0px rgba(45, 140, 240, .2);
}

.page-task-list-detail .ivu-modal-body {
  padding: 0px;
  padding-bottom: 0px;
}

.page-task-list-detail .ivu-modal {
  width: 494px;
}

.page-task-list-detail .ivu-modal-header {
  padding-left: 24px;
}

.v-transfer-dom .ivu-modal-footer {
  border-top: 0px solid #e9eaec;
}

.v-transfer-dom .ivu-modal-header {
  padding-top: 14px;
  border-bottom: 0px solid #e9eaec;
}




// 登录-输入框
.login-page .add-task-page .el-input--suffix {
  height: 35px !important;
}

.login-page .add-task-page .el-input__inner {
  height: 35px !important;
}

// 添加任务-输入框
.add-task-page .el-input--suffix {
  height: 22px !important;
}

.add-task-page .el-input__inner {
  height: 22px !important;
}

// 预警信息筛选器-输入框
.page-select-info .el-input--suffix {
  height: 32px !important;
}

.page-select-info .el-input__inner {
  height: 32px !important;
  padding-right: 15px !important;
}

.page-select-info .el-input__prefix {
  line-height: 32px;
}

.page-select-info .el-input__icon {
  line-height: 32px;
}

// 树结构展示
.el-tree-node>.el-tree-node__children {
  overflow: visible;
}

// 树结构暂无数据文字颜色
.el-tree__empty-text {
  color: #051021 !important;
  opacity: 0.28 !important;
}


// 任务列表
.page-task-list .el-button:focus {
  color: #606266;
  border: 1px solid #dcdfe6;
  background: #fff;
}

.page-task-list .el-input__inner {
  height: 32px !important;
  line-height: 32px !important;
}

.page-task-list .pop-bg .el-input__inner {
  height: 24px !important;
  line-height: 24px !important;
}

// 下拉菜单输入框
.el-input__inner {
  border: 0px solid #dcdfe6 !important;
  border-bottom: 1px solid rgba(41, 121, 255, 0.5) !important;
  border-radius: 0px !important;
  font-size: 12px !important;
  height: 24px !important;
  line-height: 24px !important;
}

.push-rule-page-user .el-input--small .el-input__icon {
  line-height: 24px;
}


// 下拉菜单箭头
.el-select .el-input__icon {
  background-image: url('../imgs/arrow-upmenu.png') !important;
  background-size: 100% !important;
  height: 16px !important;
  width: 16px !important;
}

// 下拉菜单箭头
.el-icon-arrow-up:before {
  content: '' !important;
}

// 工作表-输入框
.work-list-page .el-input__inner {
  padding-left: 0px !important;
}

// 工作表-下拉菜单宽度
.work-list-page .work-list-select .el-select {
  width: 242px !important;
}

// 工作表-日期
.work-list-page .el-range-editor.el-input__inner {
  width: 240px !important;
}

.work-list-page .el-date-editor .el-range-separator {
  padding: 0 0;
  line-height: 15px;
  width: 15px;
  color: #303133;
  font-size: 12px !important;
}

.work-list-page .el-input__icon {
  line-height: 14px !important;
}

.work-list-page .el-date-editor .el-range-input {
  font-size: 12px !important;
}

// 下拉菜单宽度
.push-rule-page .el-select {
  width: 100px !important;
}


//任务列表下拉框
.page-select-info .el-date-editor .el-input {
  width: 135px !important;
}


//新增任务tabs
.add-task-page .el-tabs__item {
  font-size: 12px;
  height: 35px;
  line-height: 35px;
  color: #666;
}

.add-task-page .el-tabs__nav-wrap::after {
  width: 95%;
  height: 1px;
}

.push-rule-page-user .el-transfer__buttons {
  padding: 0px 10px;
}

.message-modal-page .el-tabs__content {
  overflow: visible;
}