.follow-list {
  height: calc(100% - 64px);
  padding: 0 80px 0;
  min-width: 800px;
  .filter-wrap {
    padding: 16px 0 8px;
  }
  .follow-content {
    height: calc(100% - 140px);
    .el-table tr {
      background-color: transparent;
    }
    .pagination-wrap {
      height: 48px;
      padding-top: 10px;
      background-color: #fff;
      margin-top: -1px;
      box-shadow: inset 0 1px 0 0 rgba(10,19,33,0.12);
      .el-pagination {
        padding: 0;
        text-align: center;
      }
    }
    .el-table__empty-text {
      position: absolute;
      left: 20%;
    }
  }
}
