@import '_base.scss';
@import 'compoents.scss';
@import 'login.scss';
@import 'header.scss';
@import 'alarm.scss';
@import "message.scss";
@import "follow.scss";
@import "card-detail.scss";
@import "modal.scss";
@import "_components.scss";


.app,
.main {
    height: 100%;
    width: 100%;
    min-width: 756px;
    background-color: $main-bg-color;
}
