@import '_base.scss';
@import 'compoents.scss';
@import 'login.scss';
@import 'header.scss';
@import 'alarm.scss';
@import "message.scss";
@import "follow.scss";


.app,
.main {
    height: 100%;
    width: 100%;
    min-width: 756px;
    background-color: $main-bg-color;
}