.message-list {
    .btn {
      &.no-bg {
        background-color: unset;
        color: $btn-main-color;
      }
    }
    .right {
      float: right;
    }
    width: 100%;
    height: calc(100% - 64px);
    .cards-option {
      width: 100%;
      height: 48px;
      padding: 16px 0 0 0;
      max-width: 1200px;
      margin: 0 auto;
      @include flex(space-between);

      .sign-option {
        width: 300px;
        display: flex;
        justify-content: flex-end;
      }
    }
    .cards-content-wrap {
      height: calc(100% - 56px);
      margin-top: 8px;
      .scroll-box {
        width: 100%;
        height: 100%;

        .ivu-scroll-container {
          height: 100%;
        }

        .cards-content {
          width: 100%;
          max-width: 1200px;
          margin: 0 auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          .card-box {
            margin-bottom: 20px;

            .card-footer {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .btn-box {
                width: 200px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
              }

              .btn {
                &:nth-child(1) {
                  background-color: transparent;
                  border: 1px solid #399cff;
                  color: #399cff;
                  &.is-disabled {
                    color: #c0c4cc;
                    border-color: #ebeef5;
                  }
                }
              }
            }
          }
        }
      }
    }
}
