@import "_layout.scss";
@import "_element.scss";

.message-list {
    .btn {
        @include btn;
        &.no-bg {
            background-color: unset;
            color: $btn-main-color;
        }
    }
    .right {
        float: right;
    }
    min-width: 800px;
    height: calc(100% - 64px);
    .cards-option {
        padding: 16px 80px 8px;
        @include flex(space-between);
    }
    .cards-content-wrap {
        height: calc(100% - 52px);
        padding-bottom: 64px;
        overflow-y: auto;
        .cards-content {
            height: 100%;
            padding: 0 80px 0;
            .card {
                width: calc((100% - 16px)/3);
                margin-bottom: 8px;
                padding: 14px 8px 8px 24px;
                background-color: #fff;
                border-radius: 4px;
                line-height: 20px;
                float: left;
                margin-right: 8px;
                cursor: pointer;
                &:nth-child(3n) {
                    margin-right: 0;
                }
                .card-header {
                    .name-type {
                        @include flex(space-between);
                        .name {
                            color: rgba($label-title-color, 0.87);
                            font-size: 14px;
                            white-space: nowrap;
                        }
                        .tag {
                            @include tag(rgba($tag-color, 0.15), $tag-color, 2px 8px, 4px);
                            margin-right: 16px;
                            white-space: nowrap;
                        }
                    }
                    .time {
                        margin-top: 4px;
                        color: rgba($label-title-color, 0.34);
                    }
                }
                .content {
                    margin-top: 8px;
                    height: 80px;
                    @include multiple-text-ellipsis(4);
                }
                .card-footer {
                    margin-top: 16px;
                }
            }
        }
    }
}