.pop-modal {
  .ivu-modal-close {
    display: none;
  }

  .ivu-modal-footer {
    display: none;
  }

  .pop-bg {
    width: 100%;

    .pop-window {
      height: 240px;

      .pop-title {
        height: 42px;
        display: flex;
        padding: 0 20px;
        justify-content: space-between;
        align-items: center;

        span {
          font-size: 14px;
          font-weight: 600;
        }

        i {
          display: block;
          width: 20px;
          height: 20px;
          @include close;
        }
      }

      .pop-input {
        width: 100%;
        padding: 10px 20px;

        textarea {
          width: 100%;
          height: 93px;
          resize: none;
          outline: none;
          overflow: auto;
          padding: 10px;
          border: 1px solid rgba(41, 121, 255, 0.5);

          .out-length-border {
            border: 1px solid rgba(255, 0, 0, 0.5);
          }
        }
      }

      .limit {
        width: 100%;
        line-height: 20px;
        text-align: right;
        padding-right: 20px;
        margin-bottom: 20px;
        color: rgba(5, 16, 33, 0.28);
      }

      .out-length-color {
        color: #FF0000;
      }

      .out-length-btn {
        opacity: 0.28;
      }

      .btn-box {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
      }

      .btn {
        width: 60px;
        border-radius: 4px;
      }
    }
  }
}
