.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 24px;
}
.custom-tree-node-icon {
display: none;
}
.custom-tree-node:hover {
.custom-tree-node-icon {
  display: unset;
}
}
.textarea-editor {
width: 100%;
height: 54px;
overflow: auto;
white-space: pre-wrap;
background-color: #fff;
background-image: none;
border: 1px solid #dcdfe6;
padding: .4em;
border-radius: 4px;
line-height: 1.5;
outline: none;
}
.textarea-editor:focus{
border: 1px solid rgba(41, 121, 255, 0.5);
}
.step-wrapper{
height: calc(100% - 100px);
.step-3{
  min-width: 1024px;
  height: calc(100% - 178px);
  margin-bottom: 8px;
  .push-content{
    margin-bottom: 8px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    &>div{
      width: 32%;
      height: 100%;
      .push-content-class{
        width: 100%;
        height: calc(100% - 26px);
        .user-wrapper{
          overflow-x: scroll;
          overflow-y: scroll;
          height: calc(84%);
          width: 100%;
          input{
            width: 100%;
            height: 23px;
          }
        }
        .user-label{
          overflow: auto;
          height: calc(88%);

          width: 100%;
          input{
            width: 100%;
            height: 23px;
          }
        }
      }
      .scroll-container{
        width: 100%;
        height: calc(100% - 26px);
        overflow: hidden;
        .scroll-inner{
          width: 100%;
          height: 175px;
          overflow-y: auto;
          overflow-x: hidden;
          .step-3-ul{
            input{
              width: 90px;
              height: 23px;
            }
            .box-shadow{
              box-shadow: 0px 0px 8px rgba(16, 48, 102, 0.03);
            }
            .box-shadow:hover{
              box-shadow: 0px 12px 24px rgba(16, 48, 102, 0.16);
            }
            li>div{
              float: left;
              margin-right: 8px;
            }
            .condition-tree{
              top: 23px;
              right: 48px;
              overflow: hidden;
              z-index: 3;
              /*padding-bottom: 40px;*/
              background-color: white;
              border-bottom: 1px solid rgba(5, 16, 33, 0.1);
              .tree-wrapper{
                overflow-y: auto;
              }
            }
            .btn-wrapper{
              bottom: 0px;
              left: 0px;
              z-index: 4;
              .tree-btn{
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }

          }
        }
      }
    }
    .content-left {
      margin-right: 21px;
      .left-up {
        font-size: 12px;
        font-weight: bold;
        color: #0A1220;
        opacity: .42;
        margin-bottom: 8px;
      }
      .left-down {
        box-shadow: 0 0 8px 4px rgba(16, 48, 102, 0.12);
        .filter {
          height: 37px;
          background-color: #fff;
          input {
            margin-top: 18px;
            margin-left: 24px;
          }
        }
        .down-select {
          // height: 346px;
          padding-left: 24px;
          padding-right: 24px;
          padding-top: 14px;
          border-bottom: 0px solid rgba(5, 16, 33, 0.1);
          background-color: #fff;
        }
      }
    }
    .content-mid {
      .mid-up {
        font-size: 12px;
        font-weight: bold;
        color: rgba(10, 18, 32, .42);
        margin-bottom: 8px;
      }
      .mid-down {
        padding-left: 15px;
        padding-top: 15px;
        border-bottom: 0px solid rgba(5, 16, 33, 0.1);
        box-shadow: 0 0 8px 4px rgba(16, 48, 102, 0.12);
        background-color: #fff;
        .el-tabs__content {
          .pane-1 {
            ul {
              li {
                height: 22px;
                margin-bottom: 8px;
                position: relative;
                .choose {
                  width: 100px;
                  height: 22px;
                }
                .worth {
                  padding-top: 2px;
                }
                .el-dropdown {
                  .input-con {
                    width: 90px;
                    height: 22px;
                  }
                  .el-dropdown-menu {
                    .fliter {
                      // w215 pdl15
                      width: 215px;
                      padding-left: 15px;
                    }
                    .tree-wrapper {
                      width: 230px;
                      height: 190px;
                      padding-left: 16px;
                      padding-right: 16px;
                      padding-top: 8px;
                      img {
                       width: 16px;
                       height: 16px; 
                      }
                    }
                  }
                }

                .addSelect {
                  width: 16px;
                  height: 16px;
                  font-size: 14px;
                  margin-top: 2px;
                  i {
                    display: block;
                    width: 16px;
                    height: 16px;
                    @include plus-icon;
                  }
                }
                .minSelect {
                  width: 16px;
                  font-size: 14px;
                  margin-top: 2px;
                  i {
                    display: block;
                    width: 16px;
                    height: 16px;
                    @include minus-icon;
                  }
                }
              }
            }
          }
          .pane-2 {
            .filter3 {
              height: 24px;
              margin-left: 15px;
              margin-bottom: 5px;
            }
            .user-wrapper {
              height: 160px;
              padding-left: 10px;
              border-bottom: 0px solid rgba(5, 16, 33, 0.1);
              background-color: #fff;
              img {
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }
    }
    .content-right {
      .right-up {
        font-size: 12px;
        font-weight: bold;
        color: #0a1220;
        opacity: .42;
        margin-bottom: 8px;
      }
      .right-down {
        box-shadow: 0 0 8px 4px rgba(16, 48, 102, .12);
        .user-choose {
          font-size: 12px;
          padding-top: 8px;
          padding-left: 16px;
          background-color: #fff;
        }
        .user-label {
          padding-left: 16px;
          padding-right: 24px;
          padding-top: 14px;
          border-bottom: 0px solid rgba(5, 16, 33, .1);
          background-color: #fff;
          li {
            padding-bottom: 10px;
            position: relative;
            div {
              font-size: 12px;
              padding-bottom: 8px;
              opacity: .42;
              background-color: #fff;
            }
          }
        }
      }
    }

  }
}
.set-info {
  margin-bottom: 8px;
  info-up {
    font-size: 12px;
    height: 17px;
    line-height: 17px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #0A1220;
    opacity: .42;
  }
  .info-down {
    padding-left: 24px;
    padding-top: 5px;
    border-bottom: 0px solid rgba(5, 16, 33, 0.1);
    background-color: #fff;
    box-shadow: 0 0 8px 4px rgba(16, 48, 102, 0.12);
    .el-tabs__content {
      .pane-0 {
        height: 50px;
      }
      .pane-1,
      .pane-2 {
        height: 80px;
        .pane-inp {
          height: 26px;
          line-height: 26px;
          font-size: 12px;
          padding-left: 18px;
          display: flex;
          flex-direction: row-reverse;
          .pane-text {
            height: 24px;
            line-height: 24px;
            font-weight: bold;
            color: #051021;
            opacity: .34;
          }
        }
      }
      
    }
  }
}
.push-ways {
  margin-bottom: 8px;
  .ways-header {
    font-size: 12px;
    height: 17px;
    line-height: 17px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #0A1220;
    opacity: .42;
  }
  ul {
    height: 96px;
    line-height: 96px;
    background-color: #fff;
    box-shadow: 0 0 8px 4px rgba(16, 48, 102, 0.12);
    display: flex;
    justify-content: flex-start;
    li {
      display: flex;
      justify-content: flex-start;
      height: 96px;
      padding-right: 50px;
      padding-left: 25px;
      .el-checkbox {
        height: 96px;
      }
      .image {
        height: 96px;
        padding-top: 6px;
        display: flex;
        align-items: center;
        i {
          display: block;
          width: 24px;
          height: 24px;
          margin-left: 10px;
          margin-right: 8px;
        }
        &.web {
          i {
            @include web-icon;
          }
        }
        &.phone {
          i {
            @include phone-icon;
          }
        }
        &.message {
          i {
            @include message-icon;
          }
        }
      }
      .words {
        height: 96px;
      }
    }
  }
}
.push-time {
  margin-bottom: 8px;
  .time-header {
    font-size: 12px;
    height: 17px;
    line-height: 17px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #0A1220;
    opacity: .42;
  }
  .time-body {
    padding-left: 15px;
    padding-top: 5px;
    border-bottom: 0px solid rgba(5, 16, 33, 0.1);
    background-color: #fff;
    box-shadow: 0 0 8px 4px rgba(16, 48, 102, 0.12);
    .time-tab {
      height: 50px;
      line-height: 50px;
    }
  }
}
.push-rule-footer {
  display: flex;
  justify-content: space-between;
  .footer-left {
    width: 74px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    color: #051021;
    opacity: .72;
    &:hover {
      background-color: rgba(24, 43, 77, 0.05)
    }
  }
  .footer-right {
    width: 74px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    background-color: #2979ff;
    color: #fff;
  }
}

}
