.task-main {
  position: relative;
  width: 100%;
  height: 100%;

  .content {
    width: 100%;
    height: calc(100% - 64px);
    background-color: #FAFBFC;

    .content-inner {
      position: relative;
      max-width: 1024px;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      background-color: #FAFBFC;

      .task-header {
        height: 56px;
        line-height: 56px;
        padding: 16px 0 0 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .task-select-box {
          height: 32px;
          line-height: 32px;
          display: flex;

          .select-title {
            width: 88px;
            height: 32px;
            line-height: 32px;
            font-size: 22px;
          }

          .task-select {
            margin-left: 10px;

            .el-input__suffix {
              margin-top: 9px;
            }
          }
        }

        .add-btn {
          width: 100px;
        }
      }

      .box-shadow {
        box-shadow: 0 0 2px rgba(16, 48, 102, 0.2);

        &:hover {
          box-shadow: 0 6px 12px rgba(16, 48, 102, 0.12);
        }
      }

      .content-inner-table {
        height: calc(100% - 56px);
        padding-bottom: 48px;
        overflow: auto;

        .content-inner-table-inner {
          width: 100%;
          height: 100%;
          box-shadow: 0 0 8px 4px rgba(16, 48, 102, 0.12);
        }
      }

      .content-inner-footer {
        position: absolute;
        height: 48px;
        z-index: 100;
        bottom: 0;
        width: 100%;
        margin: auto;
        background-color: white;
        border-top: 1px solid rgba(10, 19, 33, 0.12);

        .content-left-footer-inner {
          margin-top: 8px;
          .ivu-page {
            text-align: center;
          }
        }
      }
    }
  }

  .pop-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(189, 190, 191, 0.5);
    z-index: 100;

    .pop-window {
      position: absolute;
      top: 176px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 8px;
      z-index: 5;

      .pop-input {
        input {
          outline: none;
          border: none;
          border-bottom: 1px solid rgba(41, 121, 255, 0.5);
        }
      }

      .btn {
        border-radius: 4px;

        &:hover {
          background-color: rgba(24, 43, 77, 0.05);
        }
      }
    }
  }
}

.add-task-modal {
  .add-task-item {
    line-height: 26px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    .item-title {
      width: 50px;
      color: #051021;
      line-height: 24px;
      opacity: 0.34;
      font-weight: 600;
      margin-right: 10px;
    }
    .item-con {
      width: 370px;
      .item-text {
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 1px solid rgba(41, 121, 255, 0.5);
      }
      .item-select {
        width: 100%;
        height: 26px;
      }
    }
    .item-area {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;

      .area-con {
        width: 428px;
        height: 100%;
      }
    }
  }
  .area-tip {
    margin-top: -46px;
    margin-bottom: 20px;
  }

  .footer-btn {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .btn-cancle {
      margin-right: 20px;
    }

    .btn-sure {
      margin-right: 30px;
    }
  }
  .ivu-modal-footer {
    padding: 0;
  }
}


.task-list-detail-modal {
  .ivu-modal-body {
    .detail-item {
      display: flex;
      width: 100%;
      margin: 16px 0;
      justify-content: center;
      flex-wrap: wrap;

      .item-title {
        opacity: .34;
        color: #051021;
        width: 50px;
        line-height: 20px;
        margin-right: 14px;
      }

      .item-con {
        width: calc(100% - 74px);
        line-height: 20px;
      }
    }
  }
}

.add-task-page {
  height: 100%;

  .content {
    height: calc(100% - 64px);
    background-color: #FAFBFC;
    overflow: auto;

    .content-inner {
      position: relative;
      min-width: 1024px;
      width: 70%;
      height: 100%;
      margin: 0 auto;
      background-color: #FAFBFC;

      .content-title {
        height: 44px;
        line-height: 44px;
        padding-top: 8px;
        text-indent: 8px;

        .title-con {
          width: 100px;
          line-height: 32px;
          font-size: 22px;
        }
      }

      .content-step {
        position: relative;
        background-color: #fff;
        margin-bottom: 8px;
        height: 48px;
        line-height: 48px;
        box-shadow: 0 0 8px 4px rgba(16, 48, 102, 0.12);
        display: flex;
        justify-content: center;
        align-items: center;

        .step-con {
          width: 370px;
        }
      }
    }
  }
}


.task-field-main {
  height: calc(100% - 100px);

  .step-1 {
    width: 100%;
    height: calc(100% - 48px);
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    .step1-left {
      width: 216px;
      margin-right: 8px;
      height: 100%;
      box-shadow: 0 0 8px 4px rgba(16, 48, 102, 0.12);

      .left-title {
        text-indent: 16px;
        line-height: 36px;
        height: 36px;
        background-color: rgba(41, 121, 255, 0.08);

        .title-con {
          font-weight: 600;
          opacity: 0.72;
          color: #051021;
        }
      }
      .left-con {
        width: 100%;
        height: calc(100% - 36px);
        overflow-y: auto;
        background-color: #fff;
        padding-top: 8px;

        li {
          width: 100%;
          line-height: 32px;
          text-indent: 24px;
          cursor: pointer;
        }

        li:hover {
          background-color: rgba(24, 43, 77, 0.05);
        }

        .li-select {
          background-color: rgba(24, 43, 77, 0.05);
        }
      }
    }

    .step1-right {
      width: calc(100% - 224px);
      height: 100%;
      box-shadow: 0 0 8px 4px rgba(16, 48, 102, 0.12);


      .step-right-inner {
        height: 100%;

        .step-right-table {

          &.step-right-table-unopen {
            height: calc(100% - 192px);
          }

          &.step-right-table-open {
            height: calc(100% - 36px);
          }

          .step-right-con {
            height: calc(100% - 36px);
            overflow: hidden;
            background-color: #fff;

            .scroll-inner {
              width: 100%;
              height: 100%;
            }
          }

          .step-right-title {
            height: 36px;
            line-height: 36px;
            text-indent: 16px;
            background-color: rgba(41, 121, 255, 0.08);
            display: flex;
            justify-content: end;
            align-items: center;

            .title1 {
              font-weight: 600;
              opacity: .72;
              color: #051021;
            }

            .title2 {
              line-height: 36px;
              text-indent: 4px;
              margin-left: 5px;

              i {
                display: block;
                width: 16px;
                height: 16px;
                @include refresh;
              }
            }

            .title3 {
              opacity: .64;
              color: #051021;
              margin-left: 18px;
            }

            .title4 {
              opacity: .2;
              background-color: #0A1321;
              margin-left: 8px;
              height: 6px;
              width: 2px;
            }

            .title5 {
              opacity: .42;
              color: #051021;
              margin-left: 8px;
            }
          }

        }

        .step-right-search {
          box-shadow: 0 -24px 48px -24px rgba(65, 65, 66, 0.6);

          .step-right-footer {
            background-color: rgba(41, 121, 255, 0.08);
            text-indent: 16px;
            height: 36px;
            line-height: 36px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .foot-title {
              font-weight: 600;
              opacity: .72;
              color: #051021;
            }

            .title-btn {
              width: 36px;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;

              i {
                display: block;
                width: 16px;
                height: 16px;

                &.down {
                  @include arrow-dropmenu;
                }

                &.up {
                  @include arrow-upmenu;
                }
              }
            }
          }

          .foot-con {
            overflow: auto;
            background-color: #fff;
            height: 156px;
            font-size: 12px;

            .foot-body {
              margin: 0 0 15px 0;
              padding: 0 10px;
            }

            .foot-b-title {
              width: 200px;
              height: 30px;
              margin-bottom: 12px;
              display: flex;
              justify-content: end;
              align-items: center;

              .foot-b-t-title {
                width: 60px;
                text-align: left;
                font-size: 12px;
              }

              .foot-b-select {
                width: 130px;

                .el-select {
                  width: 100%;
                }
              }
            }

            .step-ul {
              li {
                height: 24px;
                display: flex;
                margin: 8px 0;
                justify-content: center;
                align-items: center;

                .item1 {
                  width: 200px;
                  margin-right: 10px;
                }
                .item2 {
                  width: 80px;
                  margin-right: 30px;
                }
                .item3 {
                  width: 200px;
                  margin-right: 10px;
                }
                .item4 {
                  width: 200px;
                  margin-right: 10px;
                }
                .item5 {
                  width: 140px;
                  margin-right: 10px;

                  .input-reset {
                    width: 100%;
                  }
                }
                .item6 {
                  width: 20px;
                  margin-left: 10px;
                  cursor: pointer;

                  i {
                    display: block;
                    width: 16px;
                    height: 16px;
                    @include plus;
                  }
                }
                .item7 {
                  width: 20px;
                  margin-left: 10px;
                  cursor: pointer;

                  i {
                    display: block;
                    width: 16px;
                    height: 16px;
                    @include minus;
                  }
                }
              }
            }
          }
        } 
      }
    }
  }

  .next-btn {
    float: right;
  }
}

